.js-scroll
{
	
}
.js-scroll-text
{
	
}
a.img-off
{
	background: url("../images/select/select-arrow-off.png") no-repeat scroll 10px 2px transparent;
    border: 1px solid white;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 25px;
    margin-top: 6px;
    width: 38px;
}
a.img-on
{
	background: url("../images/select/select-arrow-on.png") no-repeat scroll 10px 2px transparent;
    border: 1px solid white;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 25px;
    margin-top: 6px;
    width: 38px;
}
/*********************************@group jscontent*************************************************/
.js-scroll-content
{
	margin-top:-5px;
	position: absolute;
}
.liop
{
	height:15px;
	padding:5px 0;	
	list-style-type: none;
}
/*********************************@group barbg************************************************/
.js-scroll-barbg
{
	position:absolute;
	right:19px;
	width:9px;
	-moz-user-select: none;
}
.js-scroll-barbg .barbg-top
{
	width:9px;
	height:9px;
	background:	url("../images/select/barbg-top.png");
}
.js-scroll-barbg .barbg-middle
{
	width:9px;
	background:	url("../images/select/barbg-middle.png");	
}
.js-scroll-barbg .barbg-bottom
{
	width:9px;
	height:9px;
	background:	url("../images/select/barbg-bottom.png");			
}
/*********************************@group scrollbar************************************************/
.js-scroll-scrollbar
{
	position:absolute;
	right:19px;
	width:9px;
	cursor:pointer;
	-moz-user-select: none;
}
.js-scroll-scrollbar .scrollbar-top
{
	width:9px;
	height:9px;
	background:	url("../images/select/scrollbar-top.png");
}
.js-scroll-scrollbar .scrollbar-middle
{
	width:9px;
	height:9px;
	background:	url("../images/select/scrollbar-mid.png");
}
.js-scroll-scrollbar .scrollbar-bottom
{
	width:9px;
	height:9px;
	background:	url("../images/select/scrollbar-bottom.png");
}
/*********************************@group scrollbar************************************************/
.js-scroll-content-body
{
	position:absolute;	
	width:100%;
}
.js-scroll-content-body ul
{
	padding:0px;
	margin:0px;	
}
.js-scroll-content-body .liop
{
	cursor:pointer;
	padding-left:5px;
}



/***************************@group special settings*************************/
#test .js-scroll-text .l
{
	float:left;
	width:7px;
	height:39px;
	background:url("../images/select/select-left.png");
}
#test .js-scroll-text .c
{
	float:left;
	width:415px;
	height:39px;
	background:url("../images/select/select-middle.png");
	
}
#test .js-scroll-text .c input
{
	background-color: Transparent;
    border: none;
    float: left;
    font-weight: normal;
    height: 25px;
    margin-top: 6px;
    width: 370px;
}
#test .js-scroll-text .r
{
	float:left;
	width:7px;
	height:39px;
	background:url("../images/select/select-right.png");
}
#test .js-scroll-content .contentbg-top
{
	width:427px;
	height:8px;
	background:white;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#test .js-scroll-content .contentbg-middle
{
	width:427px;
	height:8px;
	background:white;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	position:relative;
	overflow:hidden;
}
#test .js-scroll-content .contentbg-bottom
{
	width:427px;
	height:8px;
	background:white;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
/************************************@group arrow-over*******************/
a.arrow-over
{
	border:1px solid #cccccc;	
}