body{ font-size:12px;font-family:微软雅黑,AdobeHeitiStd,STXihei;}
.ui-dialog{ min-width:100px; display:inline-block;*display:inline;*zoom:1;color:#777}

.ui-dialog .ui-dialog-titlebar {margin: 0 20px; clear:both; overflow:hidden; *zoom:1;padding:0px;height: 38px;line-height: 38px;font-size: 18px;color: #39392f;border-bottom: 1px solid #e3e3e3;font-family:微软雅黑,AdobeHeitiStd,STXihei;}
.ui-widget-header{background:#f2f2f2;border: 0px;color: #39392f; font-weight:normal;font-size: 12px;height:26px;}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ color:#00A7EC}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{ background:#00A7EC; border:1px solid #00A7EC; color:#fff}

.ui-widget-content .ui-icon-closethick{ background: url(../images/close_ico.png) no-repeat 0 0; display:inline-block; width:18px; height:18px; overflow:hidden; line-height:18px; text-indent:999em;}
.ui-widget-content .ui-icon-closethick:hover{ background:url(../images/close_ico.png) no-repeat 0 -18px;}
.ui-dialog .ui-dialog-titlebar-close{ padding:0;right:0;}
.ui-dialog .ui-dialog-titlebar-close,.ui-dialog .ui-dialog-titlebar-close{ background:none; border:none}
.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{ background:none; border:none}

.ui-dialog .ui-dialog-content{border-top:1px solid #fff; margin:0 20px;text-align:left;min-height: 20px;padding:0; overflow: hidden}
.ui-datepicker .ui-datepicker-header{ padding:0;-webkit-border-radius:5px; border:1px solid #dddddd; border-radius:5px;}

.ui-datepicker-year{ font-weight:bold}

.ui-widget{font-family:微软雅黑,AdobeHeitiStd,STXihei;}
.ui-dialog .ui-dialog-title{ margin:0}
.ui-widget-content{ color:#777; }
.ui-timepicker-div{padding:5px 0; font-weight:bold}
#ui-datepicker-div{ background:#fff; padding:2px; margin-top:4px}
.ui-datepicker table{ background:#fff; font-size:12px; margin:0}
.ui-state-default{
border: 1px solid #ddd;
background: #F6F6F6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
color: #00A7EC;
}
.ui-datepicker td span, .ui-datepicker td a {
display: block;
padding:4px 2px;
text-align: right;
text-decoration: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #ddd;
background: white url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
font-weight: bold;
color: #00A7EC;
}
.ui-timepicker-div dl dd{ margin-left:25%; margin-right:10px}
.ui-slider-horizontal .ui-slider-handle{ top:0px; margin:0; margin-left:-10px; border:none;-webkit-border-radius:4px; border:none; border-radius:4px; height:12px; width:20px; background:#00a7ec}
.ui_tpicker_hour_slider,.ui_tpicker_minute_slider,.ui_tpicker_second_slider {-webkit-border-radius:4px; border:none; border-radius:4px; background:#eee8e1; height:12px; margin-top:4px; margin-right:5px}
.ui-datepicker .ui-datepicker-buttonpane button{ font-weight:bold}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text{ padding:0 2px}
.ui-corner-left,.ui-corner-right{ margin-top:-5px}
.ui-corner-left{ margin-left:15px}
.ui-datepicker-title{ font-weight:bold}
.button.ui-button-icon-only{ width:auto}
/*弹框 - jhinglei*/
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{ font-size:12px}
.dialog_cont_450{ clear:both; overflow:hidden;*zoom:1; padding:20px 0; width:408px}

.dialog_t{ clear:both; overflow:hidden; padding:10px 0 12px; text-align:justify; line-height:24px}
.dialog_t_area{clear:both; overflow:hidden; margin:0px 0 12px; text-align:justify; background:#fff; border:1px solid #dbdbdb; height:174px; padding:5px}
.dialog_t_area textarea{ width:100%; height:174px; border:none}
.dialog_t p{ clear:both; overflow:hidden;  color:#777;}
.dialog_t .dialog_btn_1,.dialog_t .dialog_btn_2{ margin-top:2px}
.d_t_bar{ color:#777; padding:4px 0; line-height:22px}
.d_t_bar_ccenter,.d_t_from{ text-align:center; padding:4px 0; line-height:22px}
.d_t_from{ padding:0}
.d_t_from p{ padding:4px 0}
.dialog_op{ clear:both;text-align:right; height:22px; padding-top:10px}
.dialog_btn_1,.dialog_btn_2{width:72px;height:22px; float:right;line-height:22px;text-align:center; color:#fff;background:url(../images/user_bg.png) no-repeat 0px -684px; color:#fff; font-size:12px; margin-left:10px; border:none; cursor:pointer}
.dialog_btn_1:hover{color:#fff;background:url(../images/user_bg.png) no-repeat -81px -684px;}

.dialog_btn_2{color:#636363;background:url(../images/user_bg.png) no-repeat -91px -882px;}
.dialog_btn_2:hover{background:url(../images/user_bg.png) no-repeat -91px -909px;}

.s_fl{ float:left; display:inline}
.s_fl.w175,.s_fr.w175{ width:175px}
.s_fr{ float:right; display:inline}
.s_fm{ float:left; width:58px; text-align:center}
.input_1,.input_2,.input_3,.input_4{width:304px;height: 24px;float: left;line-height: 24px;padding: 0px 10px;color: #6d6d6d;border: 1px solid #dbdbdb;background: #fff;}
.input_2{ width:386px}
.input_3{ width:266px;  float:right;}
.input_4{ width:172px; float:none}
.input_seclet{ width:174px; height:22px;color:#777;}


/*弹框-背景管理*/
.bg_management{text-align:left;padding:15px 0px 20px 0px; color:#777}
.drop_pic_pre .left{margin-right:78px;}
.drop_pic_pre img{margin-top:8px;}
.drop_select_box{padding-bottom:13px;}
.drop_select_box h3{padding-bottom:15px;color:#777;}
.select_pic_list li{float:left;margin:0px 16px 5px 0px;}
.select_pic_list li.mar0{margin-right:0px;}
.drop_btn_box .mms_cont_btn72{color:#fff;}
.drop_btn_box .mms_cont_hbtn{margin:0px 0px 0px 10px;color:#636363;}

/*弹框-编辑企业LOGO*/
.edit_logo{padding-top:15px;color:#777;}
.ui-widget-content a{font-size:12px;color:#fff;}
.edit_pic{width:300px;height:300px;margin:18px 0px 22px 0px;line-height:300px;text-align:center;background:#898989;border:1px solid #dbdbdb;}
.table_box .right .mms_cont_hbtn{color:#636363;}
.mms_cont_btn108{width:108px;background:url(../images/user_bg.png) no-repeat -651px -555px;}
.mms_cont_btn108:hover{background-position:-783px -555px;}
/*弹框-导入会员*/
.member_450{padding:0px 0px 20px 0px;}
.member_450 .dialog_t{padding:1px 0 0px;}
.member_450 .d_t_bar{padding:4px 0px 7px 0px;}
.ui-widget-content a.blue{color:#00c1f8;}
.dialog_top2{padding-top:2px;}

/*弹框-地址薄*/
.book_box{padding:0px 0px 20px;}
.dialog_template{padding:8px 0px 0px 0px;color:#777;text-align:left;}

/*项目详情-测试优惠券*/
.mar-top9{margin-top:9px;}

/*添加新闻动态*/
.dialog_450{padding:7px 0px 20px 0px;text-align:left;}
.dialog_450 .dialog_t{padding:0px;}
.add_input{width:484px;}
.add_input_424{width:404px;}
.add_textarea{width:484px;height:35px;padding:5px 10px 5px 10px;color:#777;overflow:hidden;border:1px solid #dbdbdb;}

/*生日祝福*/
.wishes{padding-bottom:10px;text-align:left;color:#777;}
.wishes .left{padding:3px 0px 0px 0px;}
.wishes_left{float:left;}
.wishes_middle{float:left;margin-left:9px;}
.wishes_middle span{padding:2px 0px 0px 0px;float:left;}
.select_22{width:43px;height:22px;float:left;margin:0px 1px;}
.wishes .mms_cont_btn72{float:right;margin-top:1px;}
.birthday_box{margin-top:16px;}
.birthday_box .left{width:66px;float:left;}
.birthday_middle{width:440px;float:left;text-align:left;}
.birthday_middle .mms_cont_btn{margin:0px 10px 0px 0px;}
.birthday_textarea{width:418px;float:left;height:39px;margin-bottom:7px;padding:5px 10px 5px 10px;overflow-y:scroll;border:1px solid #dbdbdb;}
.colc6{color:#c60909;}
.birthday_input{width:41px;height:22px;padding:0px 5px 0px 5px;line-height:22px;color:#777;border:1px solid #dbdbdb;}

/*输入手机号*/
.mobile_number_box{margin:17px 0px 20px 0px;}
.mobile_number_textarea{width:282px;height:175px;float:left;margin-right:10px;padding:5px 10px 5px 10px;overflow:hidden;color:#777;border:1px solid #dbdbdb;}
.mobile_number_right a{width:37px;height:39px;line-height:39px;float:left;margin:0px 0px 10px 10px;text-align:center;font-size:22px;background:url(../images/user_bg.png) no-repeat 0px -190px;}

/*添加产品或服务展示*/
.mar_bottom7{margin-bottom:7px;}

/*添加产品短信模板*/
.add_sms_box{padding:25px 0px 0px 0px;color:#777;}
.add_sms_input{width:152px;height:22px;line-height:22px;padding:0p 10px 0px 10px;border:1px solid #dbdbdb;}
.add_sms_textarea{width:543px;height:126px;margin:15px 0px 6px 0px;}

/*新建会员*/
.new_member_list{margin-bottom:13px;}
.new_member_list.m_0{ margin-bottom:0}
.new_member_list li{float:left;margin:16px 0px 9px 0px;position:relative;color:#777;}
.new_member_list li span{width:70px;float:left;text-align:right; display:inline}
.new_member_list .input_1{width:152px;height:22px;float:left;line-height:22px;}
.new_member_list .input_256{width:236px;}
.pad-left30{padding-left:31px;}
.check{margin-right:5px;}
.member_txt{position:absolute;bottom:-21px;left:70px;color:#ff0000;font-weight:normal;}

/*预览*/
.drop_mobile_bg{width:173px;height:263px;padding-top:57px;margin:0px 0px 15px 27px;background: url(../images/drop_mobile_bg.png) no-repeat;}
.drop_mobile_cont{width:143px;height:216px;margin:0px 0px 0px 17px; background:#fff; }

.drop_mobile_btn{margin:12px 0px 0px 25px;}
.drop_mobile_txt{width:96px;float:left;color:#606060;text-align:center;}
.drop_op{width:168px;text-align:center;}
.drop_op .dialog_btn_1,.drop_op .dialog_btn_2{float:left;}
.drop_preview{padding:6px 0px 0px 30px;}


/*添加彩信模板*/
.mms_template_left{width:180px;float: left;}
.mms_template_right{width:522px;float:right;padding-top:13px;}
.mar0{margin:0px;}
.ui-widget-content a.mms_cont_hbtn{color:#636363;}
.add_mms_btnBox{float:right;padding-right:23px;}

/*弹窗-设置推广APP*/
.drop_app{padding-bottom:7px;}
.sms_send_dropContBox{padding-bottom:18px;}
/*弹窗-快速创建模板*/
.hei265{height:295px;}
.hei292{height:292px;}
/*弹窗-发送详情*/
.table_scroll{height:248px;overflow-y:scroll;}
.drop_btn_box .mms_cont_btn{margin:0px;}
.details_btn_box{float:right;margin-top:10px;}

.add_clear{ clear:both; overflow:hidden; *zoom:1;}
.ui-widget-overlay{opacity:1;filter:Alpha(opacity=40); background:#000;background:rgba(0, 0, 0, 0.4) !important;}
/*弹窗-浏览器兼容性*/
.ie_list li{width:108px;float:left;padding:63px 0px 20px 0px;text-align:center;}
.ie_list li img{display:inline-block;margin-bottom:10px;}
.ie_list li a{display:block;margin-bottom:7px;color:#3dcdf6;}
.ie_list li h4{font-size:12px;}
.pad-top40{padding-top:40px;}

.wid527{width:527px;}
.wid246{width:246px;}
.pad0{padding:0px;}