@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-cmvbox');
	src:url('fonts/icomoon.eot?#iefix-cmvbox') format('embedded-opentype'),
		url('fonts/icomoon.woff?-cmvbox') format('woff'),
		url('fonts/icomoon.ttf?-cmvbox') format('truetype'),
		url('fonts/icomoon.svg?-cmvbox#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-font{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}




.icon-1-arrowLeft:before {
	content: "\e600";
}
.icon-2-arrowRight:before {
	content: "\e601";
}
.icon-3-chat:before {
	content: "\e602";
}
.icon-4-clearAll:before {
	content: "\e603";
}
.icon-5-collapse:before {
	content: "\e604";
}
.icon-6-collection:before {
	content: "\e605";
}
.icon-7-contact:before {
	content: "\e606";
}
.icon-8-delete:before {
	content: "\e607";
}
.icon-9-down:before {
	content: "\e608";
}
.icon-10-email:before {
	content: "\e609";
}
.icon-11-favourite:before {
	content: "\e60a";
}
.icon-12-password:before {
	content: "\e60b";
}
.icon-13-search:before {
	content: "\e60c";
}
.icon-14-setting:before {
	content: "\e60d";
}
.icon-15-shoppingCart:before {
	content: "\e60e";
}
.icon-16-sina:before {
	content: "\e60f";
}
.icon-17-user:before {
	content: "\e610";
}
.icon-18-userName:before {
	content: "\e611";
}
.icon-19-arrowdown:before {
	content: "\e612";
}
.icon-21-close2:before {
	content: "\e613";
}
.icon-22-download:before {
	content: "\e614";
}
.icon-23-plus:before {
	content: "\e615";
}
.icon-24-position1:before {
	content: "\e616";
}
.icon-25-position2:before {
	content: "\e617";
}
.icon-26-position3:before {
	content: "\e618";
}
.icon-27-position4:before {
	content: "\e619";
}
.icon-28-position5:before {
	content: "\e61a";
}
.icon-29-search2:before {
	content: "\e61b";
}
.icon-30-share:before {
	content: "\e61c";
}
.icon-31-shoppingCart2:before {
	content: "\e61d";
}
.icon-check:before {
	content: "\e116";
}
.icon-cross:before {
	content: "\e117";
}
 
*:focus {
outline: 0;
}

img{
border:none;
padding:0;
margin:0;
max-width:100%;
vertical-align:middle;
display:inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
font-family: inherit;
font-weight:normal;
line-height: 1.1;
color: inherit;
margin:0;
}
 
h1,
.h1 {
font-size: 36px;
}
h2,
.h2 {
font-size: 30px;
}
h3,
.h3 {
font-size: 24px;
}
h4,
.h4 {
font-size: 18px;
}
h5,
.h5 {
font-size: 14px;
}
h6,
.h6 {
font-size: 16px;
}

a{
blr:expression(this.onFocus=this.blur());
text-decoration:none;
color:#323233;

-webkit-transition:all 0.3s;
-moz-transition:all 0.3s;
-o-transition:all 0.3s;
transition:all 0.3s;
}
 
a:focus{
-moz-outline-style: none;
}

a:hover{
text-decoration:none;
}
 

.clear{
clear:both;
line-height:0px;
font-size:0px;
height:0px;
overflow:hidden;
}

.left{
 float:left; 
}

.right{
 float:right; 
}
 .test{
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

-webkit-box-shadow: #CCC 0 0 10px;
-moz-box-shadow: #CCC 0 0 10px;
box-shadow: #CCC 0 0 10px;

-webkit-transition:all 0.3s;
-moz-transition:all 0.3s;
-o-transition:all 0.3s;
transition:all 0.3s;


filter:alpha(opacity=0);
-moz-opacity:0;
-khtml-opacity: 0;
opacity: 0;
}




.inputHidden{
 width:0;
 height:0;
 line-height:0;
 font-family:0;
 overflow:hidden;
}






.icon-54-shareEmail:before {
	content: "\e635";
}
.icon-55-logOut:before {
	content: "\e636";
}









